<%= link_to "New Question", new_question_path, id: "news", class: "btn btn-primary" %>

<ul>
  <% @questions.each do |q| %>
  <li class="col-12 d-block width-full py-4 border-bottom public source" itemprop="owns" itemscope="" itemtype="http://schema.org/Code">
      <div class="d-inline-block mb-1">
        <h4>
          <%= link_to q.content, question_path(q), itemprop: "name codeRepository" %>
        </h4>
    </li>
  <% end %>
</ul>
