<%= link_to "New Instructor", new_instructor_path, class: "btn btn-primary" %>

  <ul>
    <% @instructors.each do |i| %>
    <li class="col-12 d-block width-full py-4 border-bottom public source" itemprop="owns" itemscope="" itemtype="http://schema.org/Code">
        <div class="d-inline-block mb-1">
          <h4>
            <%= link_to i.fullname, instructor_path(i), itemprop: "name codeRepository" %>
          </h4>
      </li>
    <% end %>
  </ul>
