<div class="d-flex px-3 flex-justify-between container-lg">
   <div class="HeaderMenu d-flex flex-justify-between flex-auto">
     <div class="d-flex">
      <ul class="d-flex pl-2 flex-items-center text-bold list-style-none" role="navigation">
      <li>
        <%= image_tag "ce-cert-logo.png" %>
      </li>
      <li>
        <%= link_to "Courses", courses_url %>
      </li>
      <li>
        <%= link_to "Attendees", attendees_url %>
      </li>
      <li>
        <%= link_to "Instructors", instructors_url %>
      </li>

      </ul>
     </div>
    </div>
   </div>
