<div class="container">
  <div class="columns">
    <div class="one-fifth column">
      <span class="tooltipped tooltipped-n border p-2 mb-2 mr-2 left" aria-label="This is the tooltip.">
        Tooltip North
      </span>
    </div>
    <div class="four-fifths column">
      <span class="tooltipped tooltipped-ne border p-2 mb-2 mr-2 left" aria-label="This is the tooltip.">
        Tooltip North East
      </span>
    </div>
  </div>
<h1>School Registration</h1>
<h2>Hello, you</h2>


  
